/*      *{
      margin: 0;
      } */

:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(255, 255, 255);
    /* --hovercolor: whitesmoke; */
    --width-collapsed: 50px;
}

body {
    background-color: whitesmoke;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    font-family: 'Schibsted Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
}

.body-expanded {
    margin-left: var(--width);
}

#main-container {
    color: rgb(0, 0, 0);
}

#sidemenu {
    background-color: var(--bgcolor);
    color: rgb(0, 0, 0);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

#sidemenu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* HEADER */
#sidemenu #header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title {
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
    vertical-align: middle;
}

#sidemenu #header #menu-btn {
    display: inline-block;
}

#sidemenu #header #menu-btn {
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburger {
    background-color: #000000;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

/* PERFIL */
#sidemenu #profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

#sidemenu #profile #photo {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#sidemenu #profile #photo img {
    border-radius: 50%;
    width: 60%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}

/* ITEMS */
#sidemenu #menu-items {
    overflow: hidden;
}

#sidemenu #menu-items .item {
    width: var(--width);
}

#sidemenu #menu-items .item .icon {
    display: inline-block;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a {
    display: block;
}

#sidemenu #menu-items .item a:hover {
    background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .icon {
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-items .item .icon img {
    width: 100%
}

#sidemenu #menu-items .item .title {
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separator {
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

.menu-expanded {
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title span {
    width: calc(var(--width)- var(--width-collapsed) -5px);
    overflow: hidden;
    display: inline-block;
}

.menu-expanded #profile #photo {
    width: 200px;
}

.menu-expanded #profile #name {
    width: 100%;
}

.menu-collapsed {
    width: var(--width-collapsed);
}

.menu-collapsed #header #title {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name {
    display: none;
}

.menu-collapsed .item {
    width: 100px;
}

/*Contenido de pagina Hay que checar el acomodo no es funcional*/
#main-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    padding-right: 100px;
    padding-left: 50px;
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    height: auto;
    background-color: rgb(255, 255, 255);
}



#logSP {
    width: 100px;
    height: 100px;
}


input[type="button"],
.recarga {
    /* background-color: #f0f6fa; */
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;

}


/* .btnSalir {
        height: 40px;
        width: 100px;
        font-weight: bold;
    } */

@media screen and (min-width: 199px) {
    #logSP {
        width: 100px;
        height: 100px;
    }

    #main {
        margin-top: 30px;
        padding-right: 50px;
    }
}

::-webkit-scrollbar {
    display: none;
}




::selection {
    background-color: rgba(0, 0, 0, 0);
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.25);
}

.card .number,
.card .owner,
.card .recarga,
.card .money {
    display: block;
    position: absolute;
    left: 30px;
    cursor: default;
    color: black;
    opacity: .9;
    transition: color .7s ease-out;
}

.card .number {
    bottom: 80px;
    letter-spacing: 4px;
}

.card .owner {
    bottom: 30px;
    letter-spacing: 1px;
}

.card .money {
    bottom: 130px;
    letter-spacing: 2px;
}

.card .recarga {
    bottom: 7px;
    left: 33%;
    border-radius: 5px;

}

#modal {
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 6px;
}

.spei {
    background-color: #00243B;
}

.oxxo {
    background-color: rgba(228, 29, 15, 0.986);
}

.cerrar {
    background-color: #60839c;
}

/* .menu-expanded .hide-card {
        display: none;
      }
       */

/* Mobile First Styles */

/* Set default styles for all screen sizes */

/* ... Your existing CSS code ... */

/* Media Query for screens smaller than 768px (tablets and mobile devices) */

@media screen and (max-width: 100px) {

    /* Update styles for smaller screens */

    body {
        margin-left: 0;
        /* Remove the left margin */
    }

    #sidemenu {
        display: none;
        /* Hide the side menu on smaller screens */
    }

    #main-container {
        margin-left: 0;
        /* Remove the margin for the main container */
    }

    header {
        padding-right: 20px;
        /* Adjust the padding */
        padding-left: 20px;
    }

    #main {
        margin-top: 30px;
        padding-right: 20px;
        /* Adjust the padding */
        padding-left: 20px;
    }

    .container {
        left: 50%;
        top: 50%;
        /* Adjust the position */
        transform: translate(-50%, -50%);
    }

    .card {
        width: 100%;
        /* Make the card full width */
        height: auto;
        /* Allow the height to adjust based on content */
    }

    .card .number,
    .card .owner,
    .card .recarga,
    .card .money {
        left: 20px;
        /* Adjust the position */
    }

    /* Update other styles as needed */

}
/* Estilos del card */
.card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card.menu-expanded {
    transform: translateX(300px); /* Ajusta la cantidad de desplazamiento según el ancho del menú */
  }
  
